{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Add Product</title>
  <link rel="shortcut icon" type="image/png" href="#" />
  <link rel="stylesheet" href="{% static 'modernize/css/styles.min.css' %}" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    {% include 'dashboard_sidebar.html' %}
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        {% include 'snippets/admin_header.html' %}
      </header>
      <!--  Header End -->
      <div class="container-fluid">
          <div class="container-fluid">
            <div class="card">
              <div class="card-body">
                <h1 class="card-title fw-semibold mb-4">Add New product {{product.id}}</h1>
                <div class="card">
                  <div class="card-body">
                    
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                          <label for="{{ product_form.name.id_for_label }}" class="form-label">Name:</label>
                            {{ product_form.name }}
                        </div>
                        <div class="mb-3">
                          <label for="{{ product_form.description.id_for_label }}" class="form-label">Product Description</label>
                          {{ product_form.description }}
                        </div>
                        <div class="mb-3">
                          <label for="{{ product_form.brand.id_for_label }}" class="form-label">Brand</label>
                          {{ product_form.brand }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ product_form.category.id_for_label }}" class="form-label">Category</label>
                            <select class="form-control" id="id_category" name="category">
                                {% for category in product_form.category.field.choices %}
                                    <option value="{{ category.0 }}">{{ category.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="{{ product_form.sub_category.id_for_label }}" class="form-label">Subcategory</label>
                            <select class="form-control" id="id_subcategory" name="sub_category" disabled>
                                <option value="">Select a subcategory</option>
                            </select>
                        </div>
                        <div class="mb-3">
                          <label for="{{ product_form.mrp.id_for_label }}" class="form-label">MRP</label>
                          {{ product_form.mrp }}
                        </div>
                        <div class="mb-3">
                          <label for="{{ product_form.stock.id_for_label }}" class="form-label">Stock</label>
                          {{ product_form.stock }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ product_form.sell_count.id_for_label }}" class="form-label">Sell Count</label>
                            {{ product_form.sell_count }}
                          </div>
                        <div class="mb-3">
                          <label for="productImage" class="form-label">Product Image</label>
                          {{ product_form.image }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ product_form.availability.id_for_label }}" class="form-label">Availability</label>
                            {{ product_form.availability }}
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                      

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="py-6 px-6 text-center">
          <p class="mb-0 fs-4">Designed in India with &#10084 | 2023 | Deskly <a href="#" target="_blank" class="pe-1 text-primary text-decoration-underline"></a></p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
        $('#id_category').change(function() {
            console.log("Category selection changed!");
            var categoryId = $(this).val();
            $.ajax({
                url: '/get-subcategories/',
                data: {
                    'category_id': categoryId
                },
                dataType: 'json',
                success: function(data) {
                    var subcategorySelect = $('#id_subcategory');
                    subcategorySelect.empty();
                    console.log(subcategorySelect);
                    if (data.subcategories.length > 0) {
                        for (var i = 0; i < data.subcategories.length; i++) {
                            var subcategory = data.subcategories[i];
                            console.log(subcategory);
                            subcategorySelect.append($('<option>', {
                                value: subcategory.id,
                                text: subcategory.name
                            }));
                        }
                        subcategorySelect.prop('disabled', false);
                    } else {
                        subcategorySelect.append($('<option>', {
                            value: '',
                            text: 'No subcategories available'
                        }));
                        subcategorySelect.prop('disabled', true);
                    }
                }          
            });
        });
    });    
</script>

  <script src="{% static 'modernize/libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'modernize/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'modernize/js/sidebarmenu.js' %}"></script>
  <script src="{% static 'modernize/js/app.min.js' %}"></script>
  <script src="{% static 'modernize/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
  <script src="{% static 'modernize/libs/simplebar/dist/simplebar.js' %}"></script>
  <script src="{% static 'modernize/js/dashboard.js' %}"></script>
</body>

</html>