{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Edit Product Details</title>
  <link rel="shortcut icon" type="image/png" href="#" />
  <link rel="stylesheet" href="{% static 'modernize/css/styles.min.css' %}" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    {% include 'dashboard_sidebar.html' %}
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        {% include 'snippets/admin_header.html' %}
      </header>
      <!--  Header End -->
      <div class="container-fluid">
          <div class="container-fluid">
            <div class="card">
              <div class="card-body">
                <h1 class="card-title fw-semibold mb-4">Edit data of Product Id: {{product.id}}</h1>
                <div class="card">
                  <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Product Name</label>
                            <input type="Text" class="form-control" id="exampleInputEmail1" value="{{product.name}}" name="name">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Product Description</label>
                          <input type="Text" class="form-control" id="exampleInputEmail1" value="{{product.name}}" name="description">
                      </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Brand</label>
                            <input type="Text" class="form-control" id="exampleInputEmail1" value="{{product.brand_id_id}}" name="brand">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Category</label>
                            <input type="Text" class="form-control" id="exampleInputEmail1" value="{{product.category_id_id}}" name="category_id">
                        </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Sub-category</label>
                        <input type="Text" class="form-control" id="exampleInputEmail1" value="{{product.sub_category_id_id}}" name="sub_category_id">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">MRP</label>
                        <input type="Text" class="form-control" id="exampleInputEmail1" value="{{product.mrp}}" name="mrp">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Stock</label>
                          <input type="Text" class="form-control" id="exampleInputEmail1" value="{{product.stock}}" name="stock">
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Sell Count</label>
                            <input type="Text" class="form-control" id="exampleInputEmail1" value="{{product.sell_count}}" name="sell_count">
                            </div>
              
                            <div class="mb-3">
                              <label for="productImage" class="form-label">Product Image</label>
                              <input type="file" id="productImage" name="image" multiple="multiple">
                            </div>
                            
                          <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" value="true" {% if product.availability %}checked{% endif %} name="availability">
                            <label class="form-check-label" for="exampleCheck1">Is Active</label>
                          </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="py-6 px-6 text-center">
          <p class="mb-0 fs-4">Designed in India with &#10084 | 2023 | Deskly <a href="#" target="_blank" class="pe-1 text-primary text-decoration-underline"></a></p>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'modernize/libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'modernize/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'modernize/js/sidebarmenu.js' %}"></script>
  <script src="{% static 'modernize/js/app.min.js' %}"></script>
  <script src="{% static 'modernize/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
  <script src="{% static 'modernize/libs/simplebar/dist/simplebar.js' %}"></script>
  <script src="{% static 'modernize/js/dashboard.js' %}"></script>
</body>

</html>