{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Brand Dashboard</title>
  <link rel="shortcut icon" type="image/png" href="#" />
  <link rel="stylesheet" href="{% static 'modernize/css/styles.min.css' %}" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    {% include 'dashboard_sidebar.html' %}
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        {% include 'snippets/admin_header.html' %}
      </header>
      <!--  Header End -->
      <div class="container-fluid">
        <!--  Row 1 -->
        <div class="row">
            <div class="card-body p-4">
                <div class="btn"><h1>Categories</h1></div>
                {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endfor %}
                {% endif %} 
                <button type="button" class="btn btn-info m-1" style="float:right;" data-bs-toggle="modal" data-bs-target="#addBrand" data-bs-whatever="@mdo">Add New Brand</button>
            </div>
          <!-- Categories table -->
          <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100">
              <div class="card-body p-4">
                <h5 class="card-title fw-semibold mb-4"></h5>
                <div class="table-responsive">
                  <table class="table text-nowrap mb-0 align-middle table-bordered table-hover">
                    <thead class="text-dark fs-4">
                      <tr>
                        <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Id</h6></th>
                        <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Image</h6></th>
                        <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Name</h6></th>
                        <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Description</h6></th>
                        <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Is Active</h6></th>
                        <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Action</h6></th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for brand in brands %}
                        <tr>
                            <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{brand.id}}</h6></td>
                            <td class="border-bottom-0">
                                <h6 class="fw-semibold mb-1">
                                    <img src="{{ brand.image.url }}" alt="Product Image"  style="width: 100px; height: 50px;">
                                </h6>                        
                            </td>
                            <td class="border-bottom-0">
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#showBrand" data-bs-whatever="{{ brand.id }}">{{brand.name}}</button>
                            </td>
                            <td class="border-bottom-0">
                                <h6 class="fw-semibold mb-1 text-truncate" style="max-width: 200px;">{{brand.description}}</h6>                        
                            </td>
                            <td class="border-bottom-0">
                                <div class="d-flex align-items-center gap-2">
                                    <span class="badge {% if brand.is_active %}bg-primary{% else %}bg-danger{% endif %} rounded-3 fw-semibold">
                                        {% if brand.is_active %}Active{% else %}Deleted{% endif %}
                                    </span>
                                </div>
                            </td>
                            <td class="border-bottom-0">
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#editBrand" data-bs-whatever="{{ brand.id }}">Edit</button>
                            </td>
                        </tr> 
                        {% endfor %}     
                    </tbody>
                  </table>
                </div>
                <!--  Add Brand Modal -->
                <div class="modal fade" id="addBrand" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add Brand</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            <form method="POST" action="{% url 'add_brand' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-3">
                                <label for="brandName" class="form-label">Brand Name</label>
                                <input type="text" class="form-control" id="brandName" name="brand_name" required>
                                </div>
                                <div class="mb-3">
                                <label for="brandDescription" class="form-label">Brand Description</label>
                                <textarea class="form-control" id="brandDescription" name="brand_description" rows="3" required></textarea>
                                </div>
                                <div class="mb-3">
                                <label for="brandImage" class="form-label">Brand Image</label>
                                <input type="file" class="form-control" id="brandImage" name="brand_image" required>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Add Brand</button>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    $(document).ready(function() {
                    var addBrandButton = document.getElementById('addBrand');
                    addBrandButton.addEventListener('click', function() {
                        var brandModal = document.getElementById('brandModal');
                        var modalTitle = brandModal.querySelector('.modal-title');
                        modalTitle.textContent = 'Add Brand';
                    });
                    });
                </script>
                <!--  Edit Brand Modal -->
                <div class="modal fade" id="editBrand" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit Brand</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            <form method="POST" action="{% url 'edit_brand' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="brandID" class="form-label">Brand ID:</label>
                                    <input type="text" class="form-control readonly" id="brandID2" name="brand_id" value="{{ brand.id }}" readonly>
                                </div>
                                <div class="mb-3">
                                    <label for="brandName" class="form-label">Brand Name</label>
                                    <input type="text" class="form-control" id="brandName2" name="brand_name" value="{{ brand.name }}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="brandDescription" class="form-label">Brand Description</label>
                                    <textarea class="form-control" id="brandDescription2" name="brand_description" value="{{ brand.description }}" rows="3" required></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="brandIsActive2" class="form-label">Brand Is Active</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="brand_is_active" id="brandActive" value="True" {% if brand.is_active %}checked{% endif %}>
                                        <label class="form-check-label" for="brandActive">
                                            Active
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="brand_is_active" id="brandDeleted" value="False" {% if not brand.is_active %}checked{% endif %}>
                                        <label class="form-check-label" for="brandDeleted">
                                            Deleted
                                        </label>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="brandImage" class="form-label">Brand Image</label>
                                </div>
                                <div class="mb-3">
                                    <img id="brandImage2" src="" alt="brand Image" style="width: 50px; height: 50px;">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    $(document).ready(function() {
                    $('#editBrand').on('show.bs.modal', function(event) {
                        var button = $(event.relatedTarget);
                        var brandId = button.data('bs-whatever');
                
                        $.ajax({
                        url: '/get-brand-data/',
                        method: 'GET',
                        data: { brandId: brandId },
                        success: function(response) {
                            // Set the values of the form fields
                            $('#brandID2').val(brandId); // Set the brand ID
                            $('#brandName2').val(response.name);
                            $('#brandDescription2').val(response.description);
                            if (response.is_active) {
                                $('#brandActive').prop('checked', true);
                            } else {
                                $('#brandDeleted').prop('checked', true);
                            }
                            $('#brandImage2').attr('src', response.image_url);
                        },
                        error: function(xhr, status, error) {
                            console.error(error);
                        }
                        });
                    });
                    });
                </script>
                <!--  Show Brand Modal -->
                <div class="modal fade" id="showBrand" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Brand</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="brandID" class="form-label">Brand ID:</label>
                                    <input type="text" class="form-control readonly" id="brandID3" name="brand_id" value="{{ brand.id }}" readonly>
                                </div>
                                <div class="mb-3">
                                    <label for="brandName" class="form-label">Brand Name</label>
                                    <input type="text" class="form-control" id="brandName3" name="brand_name" value="{{ brand.name }}" readonly>
                                </div>
                                <div class="mb-3">
                                    <label for="brandDescription" class="form-label">Brand Description</label>
                                    <textarea class="form-control" id="brandDescription3" name="brand_description" value="{{ brand.description }}" rows="3"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="brandIsActive3" class="form-label">Brand Status</label>
                                    <input type="text" class="form-control readonly" id="brandActive3" name="brand_is_active" value="{{ brand.is_active }}" readonly>
                                </div>
                                <div class="mb-3">
                                    <label for="brandImage" class="form-label">Brand Image</label>
                                </div>
                                <div class="mb-3">
                                    <img id="brandImage3" src="" alt="Brand Image" style="width: 100px; height: 50px;">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    $(document).ready(function() {
                    $('#showBrand').on('show.bs.modal', function(event) {
                        var button = $(event.relatedTarget);
                        var brandId = button.data('bs-whatever');
                
                        $.ajax({
                        url: '/get-brand-data/',
                        method: 'GET',
                        data: { brandId: brandId },
                        success: function(response) {
                            // Set the values of the form fields
                            $('#brandID3').val(brandId); // Set the brand ID
                            $('#brandName3').val(response.name);
                            $('#brandDescription3').val(response.description);
                            $('#brandActive3').val(response.is_active ? 'Brand Is Active' : 'Brand Is Deleted');
                            $('#brandImage3').attr('src', response.image_url);
                        },
                        error: function(xhr, status, error) {
                            console.error(error);
                        }
                        });
                    });
                    });
                </script>
              </div>
            </div>
          </div>
        </div>
        <div class="py-6 px-6 text-center">
            {%include 'snippets/admin_footer_copywrite.html'%}
        </div>
      </div>
    </div>
  </div>
  {%include 'snippets/admin_scripts.html'%}
</body>

</html>