{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Payment</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% include 'snippets/dependencies_customer_header.html' %}
    </head>
  <body>
  <div class="site-wrap">
    {% include 'header.html' %}
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7 mb-5 mb-md-0">
            <h2 class="h3 mb-3 text-black">Delivery Address</h2>
            <div class="p-3 mb-3 p-lg-5 border">
                <h4>Address Details:</h4>
                <p><strong>Name:</strong> {{ address.name }}</p>
                <p><strong>Email:</strong> {{ address.email }}</p>
                <p><strong>Address Line 1:</strong> {{ address.line_1 }}</p>
            </div>
            <h2 class="h3 mb-3 text-black">Payment Methods</h2>
            <div class="p-3 p-lg-5 border">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg btn-block" id="place-order-btn">Place Order</button>
                        <button class="btn btn-primary btn-lg btn-block" id="rzp-button1" style="display: none;">Pay with Razorpay</button>
                    </div>
                </form>
                {% if form.errors %}
                <div class="errorlist">
                {% for field in form %}
                    {% for error in field.errors %}
                    <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
                </div>
                {% endif %}
            </div>
          </div>
          <div class="col-md-5">
            <div class="row mb-5">
              <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Order Summary</h2>
                <div class="p-3 p-lg-5 border">
                  <table class="table site-block-order-table mb-5">
                    <thead>
                      <th>Product</th>
                      <th>Total</th>
                    </thead>
                    <tbody>
                      {% for cart_item in cart_items %}
                    <tr>
                      <td>{{ cart_item.product.name }} <strong class="mx-2">x</strong> {{ cart_item.quantity }}</td>
                      <td>&#x20B9; {{ cart_item.subtotal }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                      <td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
                      <td class="text-black">&#x20B9; {{total}}</td>
                    </tr>
                    <tr>
                      <td class="text-black font-weight-bold"><strong>Shipping</strong></td>
                      <td class="text-black">&#x20B9; 0</td>
                    </tr>
                    {% if coupon_discount != 0 %}
                      <tr>
                        <td class="text-black font-weight-bold"><strong>Coupon Discount</strong></td>
                        <td class="text-black">&#x20B9; -{{coupon_discount}}</td>
                      </tr>
                    {% endif %}
                    <tr>
                      <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                      <td class="text-black font-weight-bold"><strong>&#x20B9; {{net_total}}</strong></td>
                    </tr>
                  </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- </form> -->
      </div>
    </div>
    <footer class="site-footer custom-border-top">
        {% include 'footer.html' %}
    </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Function to handle the payment option change event
            $('input[name="payment_option"]').change(function() {
                var selectedOption = $(this).val();
                if (selectedOption === 'razorpay') {
                    $('#place-order-btn').hide();
                    $('#rzp-button1').show();
                } else {
                    $('#rzp-button1').hide();
                    $('#place-order-btn').show();
                }
            });
        });
    </script>
    {% include 'snippets/dependencies_customer_footer.html'%}
  </body>
</html>