{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin Dashboard</title>
  <link rel="shortcut icon" type="image/png" href="#" />
  <link rel="stylesheet" href="{% static 'modernize/css/styles.min.css' %}" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    {% include 'dashboard_sidebar.html' %}
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        {% include 'snippets/admin_header.html' %}
      </header>
      <!--  Header End -->
      <div class="container-fluid">
        <!--  Row 1 -->
        <div class="row">
            <div class="card-body p-4">
                <div class="btn"><h1>Coupon</h1></div>
                <button type="button" class="btn btn-primary" style="float:right;" data-bs-toggle="modal" data-bs-target="#addCouponModal">Add New Coupon</button>
            </div>
          <!-- Recent Products Added -->
          <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100">
                {% if messages %}
                <div class="card-body p-4">
                    {% for message in messages %}
                    <div class="alert alert-success" id="success-message">{{ message }}</div>
                    {% endfor %}
                </div>
                <script>
                    setTimeout(function() {
                    var successMessage = document.getElementById("success-message");
                    if (successMessage) {
                        successMessage.remove();
                    }
                    }, 2000);
                </script>
                {% endif %}
              <div class="card-body p-4">
                <div class="table-responsive">
                  <table class="table text-nowrap mb-0 align-middle table-bordered table-hover">
                    <thead class="text-dark fs-4">
                      <tr>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Id</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Coupon code</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Discount Percentage</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Issued quantity</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Remaining quantity</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Live</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Action</h6>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for coupon in coupons %}
                        <tr>
                            <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{coupon.id}}</h6></td>
                            <td class="border-bottom-0">
                                <h6 class="fw-semibold mb-1">{{coupon.coupon_code}}</h6>                        
                            </td>
                            <td class="border-bottom-0">
                              <div class="d-flex align-items-center gap-2">
                                  <span class="badge bg-primary rounded-3 fw-semibold">{{coupon.discount_percentage}}</span>
                              </div>
                            </td>
                            <td class="border-bottom-0">
                            <p class="mb-0 fw-normal">{{coupon.issued_quantity}}</p>
                            </td>
                            <td class="border-bottom-0">
                                <p class="mb-0 fw-normal">{{coupon.remaining_quantity}}</p>
                            </td>
                            <td class="border-bottom-0">
                                <div class="d-flex align-items-center gap-2">
                                    <span class="badge {% if coupon.is_active %}bg-primary{% else %}bg-danger{% endif %} rounded-3 fw-semibold">{{coupon.is_active}}</span>
                                </div>
                            </td>
                            <td class="border-bottom-0">
                                <h6 class="fw-semibold mb-1"><a href="{% url 'coupon_edit' coupon.id %}">Edit</a></h6>                        
                            </td>
                        </tr>
                        {% endfor %}     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="py-6 px-6 text-center">
          <p class="mb-0 fs-4">Designed in India with &#10084 | 2023 | Deskly <a href="#" target="_blank" class="pe-1 text-primary text-decoration-underline"></a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addCouponModal" tabindex="-1" aria-labelledby="addCouponModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          <form action="{% url 'coupon_add' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Coupon Code: </label>
                <input type="text" class="form-control" id="name" name="coupon_code" required>
              </div>
            <div class="mb-3">
              <label for="name" class="form-label">Discount Percentage:</label>
              <input type="number" class="form-control" id="name" name="discount_percentage" min="1" step="1" required>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Issued Quantity:</label>
                <input type="number" class="form-control" id="name" name="issued_quantity" min="1" step="1" required>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Remaining Quantity:</label>
                <input type="number" class="form-control" id="name" name="remaining_quantity" min="1" step="1" required>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add Coupon</button>
              </div>
          </form>
        </div>
      </div>
    </div>
</div>
<script>
    var addCouponModal = document.getElementById('addCouponModal');
    addCouponModal.addEventListener('show.bs.modal', function (event) {
      var form = addCouponModal.querySelector('form');
      form.reset();
    });
</script>

  <script src="{% static 'modernize/libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'modernize/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'modernize/js/sidebarmenu.js' %}"></script>
  <script src="{% static 'modernize/js/app.min.js' %}"></script>
  <script src="{% static 'modernize/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
  <script src="{% static 'modernize/libs/simplebar/dist/simplebar.js' %}"></script>
  <script src="{% static 'modernize/js/dashboard.js' %}"></script>
</body>

</html>