{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Customer Account</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include 'snippets/dependencies_customer_header.html' %}
</head>
<body>
    <div class="site-wrap">
        {% include 'header.html' %}
        <div class="site-section">
            <div class="container">
                <!--  Body Wrapper -->
                <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
                data-sidebar-position="fixed" data-header-position="fixed">
                    {% include 'snippets/customer_account_sidebar.html' %}
                    <div class="body-wrapper">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="card overflow-hidden">
                                                <div class="card-body p-4">
                                                    <h5 class="card-title mb-9 fw-semibold">Profile</h5>
                                                    <div class="row align-items-center">
                                                        <div class="col-8">
                                                            Profile photo comes here:
                                                        </div>
                                                    <div class="col-4">
                                                    {{account.username}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 d-flex align-items-strech">
                            <div class="card w-100">
                                <div class="card-body">
                                    <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                                        <div class="mb-3 mb-sm-0">
                                            <h5 class="card-title fw-semibold">Customer Profile Details</h5>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="row mb-3">
                                            <div class="col-sm-3 col">Username:</div>
                                            <div class="col-sm-9 form-label">{{account.username}}</div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-sm-3 col">First Name:</div>
                                            <div class="col-sm-9 form-label">{{account.first_name}}</div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-sm-3 col">Last Name:</div>
                                            <div class="col-sm-9 form-label">{{account.last_name}}</div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-sm-3 col">Email:</div>
                                            <div class="col-sm-9 form-label">{{account.email}}</div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-sm-3 col">Mobile:</div>
                                            <div class="col-sm-9 form-label">{{account.mobile}}</div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-sm-3 col">Is Verified</div>
                                            <div class="col-sm-9 form-label">{{account.is_verified}}</div>
                                        </div>
                                    </div>

                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Edit Details</button>
                                    {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-success">{{ message }}</div>
                                    {% endfor %}
                                    {% endif %} 
                                </div>
                            </div>
                        </div>
                    <div class="py-6 px-6 text-center">
                        {%include 'snippets/admin_footer_copywrite.html'%}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form method="POST" action="{% url 'customer_account_edit' %}">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="username" class="form-label">Username</label>
                  <input type="text" class="form-control" id="username" name="username" value="{{ request.user.username }}" required>
                </div>
                <div class="mb-3">
                  <label for="firstName" class="form-label">First Name</label>
                  <input type="text" class="form-control" id="firstName" name="first_name" value="{{ request.user.first_name }}" required>
                </div>
                <div class="mb-3">
                  <label for="lastName" class="form-label">Last Name</label>
                  <input type="text" class="form-control" id="lastName" name="last_name" value="{{ request.user.last_name }}" required>
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" name="email" value="{{ request.user.email }}" required>
                </div>
                <div class="mb-3">
                  <label for="mobile" class="form-label">Mobile</label>
                  <input type="text" class="form-control" id="mobile" name="mobile" value="{{ request.user.mobile }}" required>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      
    {%include 'snippets/admin_scripts.html'%}
    <script>
        var exampleModal = document.getElementById('exampleModal');
        exampleModal.addEventListener('show.bs.modal', function (event) {
          var button = event.relatedTarget;
          var modalTitle = exampleModal.querySelector('.modal-title');
          
          modalTitle.textContent = 'Edit Profile';
        });        
    </script>
    {% include 'snippets/dependencies_customer_footer.html' %}
</body>
</html>