{% load static %}
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
      <div class="brand-logo d-flex align-items-center justify-content-between">
        <a href="{% url 'admin_dashboard' %}" class="text-nowrap logo-img">
          <img src="{% static 'images/deskly-header-logo.png' %}" width="180" alt="" />
        </a>
        <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
          <i class="ti ti-x fs-8"></i>
        </div>
      </div>
      <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
        <ul id="sidebarnav">
            <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">Overview</span>
            </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'admin_dashboard' %}" aria-expanded="false">
            <span>
                <i class="ti ti-layout-dashboard"></i>
            </span>
            <span class="hide-menu">Dashboard</span>
            </a>
        </li>
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Customers</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'customer_dashboard' %}" aria-expanded="false">
            <span>
                <i class="ti ti-user-plus"></i>
            </span>
            <span class="hide-menu">Customers</span>
            </a>
        </li>
        {% comment %} <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'review_dashboard' %}" aria-expanded="false">
            <span>
                <i class="ti ti-article"></i>
            </span>
            <span class="hide-menu">Reviews</span>
            </a>
        </li> {% endcomment %}
        {% comment %} Products {% endcomment %}
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Products and Orders</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'product_dashboard' %}" aria-expanded="false">
            <span>
                <i class="ti ti-cards"></i>
            </span>
            <span class="hide-menu">Products</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'category_dashboard' %}" aria-expanded="false">
            <span>
                <i class="ti ti-article"></i>
            </span>
            <span class="hide-menu">Categories</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'subcategory_dashboard' %}" aria-expanded="false">
            <span>
                <i class="ti ti-article"></i>
            </span>
            <span class="hide-menu">Sub-categories</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'order_dashboard' %}" aria-expanded="false">
            <span>
                <i class="ti ti-cards"></i>
            </span>
            <span class="hide-menu">Orders</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'report_pdf_order' %}" aria-expanded="false">
            <span>
                <i class="ti ti-cards"></i>
            </span>
            <span class="hide-menu">Reports</span>
            </a>
        </li>

        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Offer Management</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'coupon_dashboard' %}" aria-expanded="false">
            <span>
                <i class="ti ti-mood-happy"></i>
            </span>
            <span class="hide-menu">Coupons</span>
            </a>
        </li>
        {% comment %} <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'banner_dashboard' %}" aria-expanded="false">
            <span>
                <i class="ti ti-typography"></i>
            </span>
            <span class="hide-menu">Banners</span>
            </a>
        </li> {% endcomment %}
        <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'offer_dashboard' %}" aria-expanded="false">
            <span>
                <i class="ti ti-mood-happy"></i>
            </span>
            <span class="hide-menu">Offers</span>
            </a>
        </li>
        </ul>
    </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>