{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Edit Customer</title>
  <link rel="shortcut icon" type="image/png" href="#" />
  <link rel="stylesheet" href="{% static 'modernize/css/styles.min.css' %}" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    {% include 'dashboard_sidebar.html' %}
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        {% include 'snippets/admin_header.html' %}
      </header>
      <!--  Header End -->
      <div class="container-fluid">
          <div class="container-fluid">
            <div class="card">
              <div class="card-body">
                <h1 class="card-title fw-semibold mb-4">Edit data of Customer Id: {{customer.id}}</h1>
                <div class="card">
                  <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                          <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-name">Customer Id</label>
                            <div class="col-sm-10">
                              <fieldset disabled>
                              <input type="text" class="form-control" id="basic-default-name"  value="{{customer.id}}"/>
                              <fieldset>
                            </div>
                          </div>
                        </div>
                        <div class="mb-3">
                          <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-name">User Name</label>
                            <div class="col-sm-10">
                              <fieldset disabled>
                              <input type="text" class="form-control" id="basic-default-name"  value="{{customer.username}}"/>
                              <fieldset>
                            </div>
                          </div>
                        </div>
                        <div class="mb-3">
                          <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-name">First Name</label>
                            <div class="col-sm-10">
                              <fieldset disabled>
                              <input type="text" class="form-control" id="basic-default-name"  value="{{customer.first_name}}"/>
                              <fieldset>
                            </div>
                          </div>
                        </div>
                        <div class="mb-3">
                          <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-name">Last Name</label>
                            <div class="col-sm-10">
                              <fieldset disabled>
                              <input type="text" class="form-control" id="basic-default-name"  value="{{customer.last_name}}"/>
                              <fieldset>
                            </div>
                          </div>
                        </div>
                        <div class="mb-3">
                          <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-name">Email</label>
                            <div class="col-sm-10">
                              <fieldset disabled>
                              <input type="text" class="form-control" id="basic-default-name"  value="{{customer.email}}"/>
                              <fieldset>
                            </div>
                          </div>
                        </div>
                        <div class="mb-3">
                          <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-name">Mobile</label>
                            <div class="col-sm-10">
                              <fieldset disabled>
                              <input type="text" class="form-control" id="basic-default-name"  value="{{customer.mobile}}"/>
                              <fieldset>
                            </div>
                          </div>
                        </div>
                        <div class="mb-3">
                          <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-name">Date Joined</label>
                            <div class="col-sm-10">
                              <fieldset disabled>
                              <input type="text" class="form-control" id="basic-default-name"  value="{{customer.date_joined}}"/>
                              <fieldset>
                            </div>
                          </div>
                        </div>
                        <div class="mb-3">
                          <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-name">Verification status</label>
                            <div class="col-sm-10">
                              <fieldset disabled>
                              <input type="text" class="form-control" id="basic-default-name"  value="{{customer.is_verified}}"/>
                              <fieldset>
                            </div>
                          </div>
                        </div>

                          <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" value="true" {% if customer.is_active %}checked{% endif %} name="is_active">
                            <label class="form-check-label" for="exampleCheck1">Is Active</label>
                          </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="py-6 px-6 text-center">
          <p class="mb-0 fs-4">Designed in India with &#10084 | 2023 | Deskly <a href="#" target="_blank" class="pe-1 text-primary text-decoration-underline"></a></p>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'modernize/libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'modernize/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'modernize/js/sidebarmenu.js' %}"></script>
  <script src="{% static 'modernize/js/app.min.js' %}"></script>
  <script src="{% static 'modernize/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
  <script src="{% static 'modernize/libs/simplebar/dist/simplebar.js' %}"></script>
  <script src="{% static 'modernize/js/dashboard.js' %}"></script>
</body>

</html>