{% load static %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                <a href="{% url 'home' %}" class="block-6">
                <img src="{% static 'images/deskly-logo.png' %}" alt="Deskly Company Logo" class="img-fluid rounded mb-1">
                </a>
            </div>
            <div class="col-lg-5 ml-auto mb-5 mb-lg-0">
                <div class="row">
                <div class="col-md-12">
                    <h3 class="footer-heading mb-4">Quick Links</h3>
                </div>
                <div class="col-md-6 col-lg-4">
                    <ul class="list-unstyled">
                    <li><a href="#">About Deskly</a></li>
                    {% comment %} <li><a href="#">Features</a></li>
                    <li><a href="#">Quality Policy</a></li>
                    <li><a href="#">Return Policy</a></li> {% endcomment %}
                    </ul>
                </div>
                <div class="col-md-6 col-lg-4">
                    <ul class="list-unstyled">
                    <li><a href="#">Other Services</a></li>
                    {% comment %} <li><a href="#">Dropshipping</a></li>
                    <li><a href="#">Refund Policy</a></li> {% endcomment %}
                    </ul>
                </div>
                <div class="col-md-6 col-lg-4">
                    <ul class="list-unstyled">
                    <li><a href="#">Point of sale</a></li>
                    {% comment %} <li><a href="#">Customer's Rights</a></li>
                    <li><a href="#">Legal</a></li> {% endcomment %}
                    </ul>
                </div>
                </div>
            </div>
        
            <div class="col-md-6 col-lg-3">
                <div class="block-5 mb-5">
                    <h3 class="footer-heading mb-4">Contact Info</h3>
                    <ul class="list-unstyled">
                        <li class="address">Hustle Hub, Bangalore, India</li>
                        <li class="phone"><a href="tel://918547872444">+91 8547872333</a></li>
                        <li class="email">contact@deskly.com</li>
                    </ul>
                </div>
                <div class="block-7">
                    <form action="#" method="post">
                        <label for="email_subscribe" class="footer-heading">Subscribe</label>
                        <div class="form-group">
                            <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                            <input type="submit" class="btn btn-sm btn-primary" value="Send">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Designed in India with &#10084 by Deskly &copy;<script>document.write(new Date().getFullYear());</script> | 
                Template by <a href="https://colorlib.com" target="_blank" class="text-primary">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
