{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Edit Order</title>
  <link rel="shortcut icon" type="image/png" href="#" />
  <link rel="stylesheet" href="{% static 'modernize/css/styles.min.css' %}" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    {% include 'dashboard_sidebar.html' %}
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        {% include 'snippets/admin_header.html' %}
      </header>
      <!--  Header End -->
      <div class="container-fluid">
          <div class="container-fluid">
            <div class="card">
              <div class="card-body">
                <h1 class="card-title fw-semibold mb-4">Edit data of Order Id: {{order.id}}</h1>
                <div class="card">
                  <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                          <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-name">Order Id</label>
                            <div class="col-sm-10">
                              <fieldset disabled>
                              <input type="text" class="form-control" id="basic-default-name"  value="{{order.id}}"/>
                              <fieldset>
                            </div>
                          </div>
                        </div>
                        <div class="mb-3">
                          <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-name">Payment method</label>
                            <div class="col-sm-10">
                              <fieldset disabled>
                              <input type="text" class="form-control" id="basic-default-name"  value="{{order.payment}}"/>
                              <fieldset>
                            </div>
                          </div>
                        </div>
                        <div class="mb-3">
                          <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-name">Time stamp</label>
                            <div class="col-sm-10">
                              <fieldset disabled>
                              <input type="text" class="form-control" id="basic-default-name"  value="{{order.date}}"/>
                              <fieldset>
                            </div>
                          </div>
                        </div>
                        <div class="mb-3">
                          <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-name">Product</label>
                            <div class="col-sm-10">
                              <fieldset disabled>
                              <input type="text" class="form-control" id="basic-default-name"  value="{{order.product.name}}"/>
                              <fieldset>
                            </div>
                          </div>
                        </div>
                        <div class="mb-3">
                          <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-name">Quantity</label>
                            <div class="col-sm-10">
                              <fieldset disabled>
                              <input type="text" class="form-control" id="basic-default-name"  value="{{order.quantity}}"/>
                              <fieldset>
                            </div>
                          </div>
                        </div>
                        <div class="mb-3">
                          <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-name">Address</label>
                            <div class="col-sm-10">
                              <fieldset disabled>
                              <input type="text" class="form-control" id="basic-default-name"  value="{{order.address.line_1}}"/>
                              <fieldset>
                            </div>
                          </div>
                        </div>
                        <div class="mb-3">
                          <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="status">Status</label>
                            <div class="col-sm-10">
                              <select class="form-control" id="status" name="status">
                                <option value="Pending" {% if order.status == 'Pending' %}selected{% endif %}>Pending</option>
                                <option value="In-transit" {% if order.status == 'In-transit' %}selected{% endif %}>In-transit</option>
                                <option value="Delivered" {% if order.status == 'Delivered' %}selected{% endif %}>Delivered</option>
                              </select>
                            </div>
                          </div>
                        </div>
              
                          <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" value="true" {% if order.admin_action %}checked{% endif %} name="admin_action">
                            <label class="form-check-label" for="exampleCheck1">Permitted</label>
                          </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="py-6 px-6 text-center">
          <p class="mb-0 fs-4">Designed in India with &#10084 | 2023 | Deskly <a href="#" target="_blank" class="pe-1 text-primary text-decoration-underline"></a></p>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'modernize/libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'modernize/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'modernize/js/sidebarmenu.js' %}"></script>
  <script src="{% static 'modernize/js/app.min.js' %}"></script>
  <script src="{% static 'modernize/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
  <script src="{% static 'modernize/libs/simplebar/dist/simplebar.js' %}"></script>
  <script src="{% static 'modernize/js/dashboard.js' %}"></script>
</body>

</html>