{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Product Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% include 'snippets/dependencies_customer_header.html' %}
    </head>
    <body> 
        <div class="site-wrap">
            {% include 'header.html' %}
            <div class="site-section">
            <div class="container">

                <div class="row">
                    <div class="col-md-6">
                        <div class="item-entry">
                            <div class="product-item md-height bg-gray d-block">
                                <div class="row">
                                    {% for image in product.images.all %}
                                    <div class="col-md-6">
                                        <div class="item">
                                            <img src="{{ image.image.url }}" alt="Image" class="img-fluid">
                                        </div>
                                    </div>
                                    {% if forloop.counter == 2 %}
                                </div>
                                <div class="row">
                                    {% endif %}
                                    {% empty %}
                                    <div class="col-md-6">
                                        <div class="item">
                                            <span>No image available</span>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h2 class="text-black">{{product.name}}</h2>
                        <p></p>
                        {% if product.offer_product_price %}
                        <p><strong class="text-primary h4"><del>&#x20B9; {{ product.mrp }}</del></strong></p>
                        {% if product_offer %}
                        <p><strong class="text-secondary h5">Product discount of {{product_offer}}% is included in the final price</strong></p>
                        {% endif %}
                        <p><strong class="text-primary h4">&#x20B9; {{ product.offer_product_price }}</strong></p>
                        {% else %}
                            <p><strong class="text-primary h4">&#x20B9; {{ product.mrp }}</strong></p>
                        {% endif %}
                        {% comment %} <div class="mb-1 d-flex">
                        <label for="option-sm" class="d-flex mr-3 mb-3">
                            <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-sm" name="shop-sizes"></span> <span class="d-inline-block text-black">Blue</span>
                        </label>
                        <label for="option-md" class="d-flex mr-3 mb-3">
                            <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-md" name="shop-sizes"></span> <span class="d-inline-block text-black">Black</span>
                        </label>
                        </div> {% endcomment %}
                        <div class="button-container">
                            <a href="#" onclick="addToCart({{ product.id }})" class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary">Add To Cart</a>
                            <a href="#" onclick="addToWishList({{ product.id }})" class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary">Add To Wish List</a>
                        </div>
                        <h4 class="text-black">Description: </h4>
                        <p class="text-black">{{ product.description }}</p>
                    </div>
                </div>
            </div>
            </div>
            <footer class="site-footer custom-border-top">
                {% include 'footer.html' %}
            </footer>
        </div>
        <script>
            function addToWishList(productId) {
              var csrfToken = getCookie('csrftoken'); // Function to retrieve the CSRF token from cookies
            
              fetch('/add-to-wish-list/' + productId + '/', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken': csrfToken // Include the CSRF token in the request headers
                },
                credentials: 'same-origin', // Include cookies in the request if needed
                body: JSON.stringify({}) // Empty request body or you can include additional data if required
              })
              .then(function(response) {
                return response.json(); // Parse the response as JSON
              })
              .then(function(data) {
                // Handle the response data here
                console.log(data.message); // Log the message to the console or display it on the page
            
                // You can perform any additional actions based on the response, such as updating the UI
              })
              .catch(function(error) {
                // Handle any error that occurred during the request
                console.error('Error:', error);
              });
            }
            // Function to retrieve the CSRF token from cookies
            function getCookie(name) {
              var cookieValue = null;
              if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                  var cookie = cookies[i].trim();
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                  }
                }
              }
              return cookieValue;
            }
        </script>
        <script>
          function addToCart(productId) {
            var csrfToken = getCookie('csrftoken'); // Function to retrieve the CSRF token from cookies
            fetch('/add-to-cart/' + productId + '/', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken // Include the CSRF token in the request headers
              },
              credentials: 'same-origin', // Include cookies in the request if needed
              body: JSON.stringify({}) // Empty request body or you can include additional data if required
            })
            .then(function(response) {
              return response.json(); // Parse the response as JSON
            })
            .then(function(data) {
              // Handle the response data here
              console.log(data.message); // Log the message to the console or display it on the page
        
              // You can perform any additional actions based on the response, such as updating the UI
            })
            .catch(function(error) {
              // Handle any error that occurred during the request
              console.error('Error:', error);
            });
          }
        
          // Function to retrieve the CSRF token from cookies
          function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
                }
              }
            }
            return cookieValue;
          }
        </script>
        <script>
            $(document).ready(function() {
              $(".owl-carousel").owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                responsive: {
                  0: {
                    items: 1,
                    nav: false
                  },
                  600: {
                    items: 3,
                    nav: false
                  },
                  1000: {
                    items: 5,
                    nav: false,
                    loop: false
                  }
                }
              });
            });
          </script>          
        {% include 'snippets/dependencies_customer_footer.html' %}
    </body>
</html>