{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Product Dashboard</title>
  <link rel="shortcut icon" type="image/png" href="#" />
  <link rel="stylesheet" href="{% static 'modernize/css/styles.min.css' %}" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    {% include 'dashboard_sidebar.html' %}
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        {% include 'snippets/admin_header.html' %}
      </header>
      <!--  Header End -->
      <div class="container-fluid">
        <!--  Row 1 -->
        <div class="row">
            <div class="card-body p-4">
                <div class="btn"><h1>Product Dashboard</h1></div>
                  <a  type="button" class="btn btn-info m-1" style="float:right;" href="{% url 'add_product' %}">Add New Product</a>

                  {% if messages %}
                  <div id="messages-container">
                  <div class="alert alert-success" role="alert">
                    
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    <script>
                      setTimeout(function() {
                        var container = document.getElementById('messages-container');
                        container.parentNode.removeChild(container);
                          
                      }, 1500);
                    </script>
                    
                  </div>
                  </div>
                  {% endif %}
            </div>
            
          <!-- Recent Products Added -->
          <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100">
              <div class="card-body p-4">
                <h5 class="card-title fw-semibold mb-4"></h5>
                <div class="table-responsive">
                  <table class="table text-nowrap mb-0 align-middle table-bordered table-hover">
                    <thead class="text-dark fs-4">
                      <tr>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Id</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Name</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Brand</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Category ID</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Sub-category ID</h6>
                          </th>
                          <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">MRP</h6>
                          </th>
                          <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Availability</h6>
                          </th>
                          <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Stock</h6>
                          </th>
                          <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Sold</h6>
                          </th>
                          <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Date added</h6>
                          </th>
                          <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Image</h6>
                          </th>
                          <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Action</h6>
                          </th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{product.id}}</h6></td>
                            <td class="border-bottom-0">
                                <h6 class="fw-semibold mb-1">{{product.name}}</h6>                        
                            </td>
                            <td class="border-bottom-0">
                                <h6 class="fw-semibold mb-1">{{product.brand_id_id}}</h6>                        
                            </td>
                            <td class="border-bottom-0">
                                <h6 class="fw-semibold mb-1">{{product.category_id_id}}</h6>                        
                            </td>
                            <td class="border-bottom-0">
                                <h6 class="fw-semibold mb-1">{{product.sub_category_id_id}}</h6>                        
                            </td>
                            <td class="border-bottom-0">
                                <h6 class="fw-semibold mb-1">{{product.mrp}}</h6>                        
                            </td>
                            <td class="border-bottom-0">
                            <div class="d-flex align-items-center gap-2">
                                <span class="badge bg-primary rounded-3 fw-semibold">{{product.availability}}</span>
                            </div>
                            </td>
                            <td class="border-bottom-0">
                                <h6 class="fw-semibold mb-1">{{product.stock}}</h6>                        
                            </td>
                            <td class="border-bottom-0">
                                <h6 class="fw-semibold mb-1">{{product.sell_count}}</h6>                        
                            </td>
                            <td class="border-bottom-0">
                                <h6 class="fw-semibold mb-1">{{product.date_added}}</h6>                        
                            </td>
                            <td class="border-bottom-0">
                                <h6 class="fw-semibold mb-1">
                                    <img src="{{ product.image.url }}" alt="Product Image"  style="width: 50px; height: 50px;">
                                </h6>                        
                            </td>
                            <td class="border-bottom-0">
                                <h6 class="fw-semibold mb-1"><a href="{% url 'edit_product' product.id %}">Edit</a></h6>                        
                            </td>
                        </tr> 
                        {% endfor %}     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="py-6 px-6 text-center">
          {%include 'snippets/admin_footer_copywrite.html'%}
        </div>
      </div>
    </div>
  </div>
  {%include 'snippets/admin_scripts.html'%}
</body>

</html>