{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Shop</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% include 'snippets/dependencies_customer_header.html' %}
    </head>
    <body>
        <div class="site-wrap">
            {% include 'header.html' %}
            <div class="site-section">
                <div class="container">
                    <div class="row mb-5">
                        <div class="col-md-3 order-1 mb-5 mb-md-0">
                            <div class="border p-4 rounded mb-4">
                                <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
                                <form method="GET" action="{% url 'shop_all' %}">
                                    {% for category in categories %}
                                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                        <input type="checkbox" class="custom-control-input category-checkbox" id="color-{{ category.id }}" name="category[]" value="{{ category.id }}" {% if category.id|stringformat:"s" in selected_categories %}checked{% endif %}>
                                        <label class="custom-control-label" for="color-{{ category.id }}">{{ category.name }}</label>                                        
                                    </div>
                                    {% endfor %}
                                    <button type="submit" class="btn btn-primary">Apply</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-9 order-2">
                            <div class="row align">
                                <div class="col-md-12 mb-5">
                                    <div class="float-md-left"><h2 class="text-black h5">Shop Amazing Products</h2></div>
                                </div>
                            </div>
                            <div id="product-list" class="row mb-6">
                              {% if products|length == 0 %}
                                <div class="col-lg-12">
                                  <p>There are no products to show.</p>
                                </div>
                              {% else %}
                                {% for product in products %}
                                <div class="col-lg-4 col-md-4 item-entry mb-4">
                                    <a href="{% url 'product_page' product.id %}" class="product-item md-height bg-gray d-block">
                                    {% if product.images.exists %}
                                        <img src="{{ product.images.first.image.url }}" alt="Product Image">
                                    {% else %}
                                        <span>No image available</span>
                                    {% endif %}
                                    </a>
                                    <h2 class="item-title"><a href="{% url 'product_page' product.id %}">{{product.name}}</a></h2>
                                    <strong class="item-price">&#x20B9; {{product.mrp}}</strong>
                                    <div class="button-container">
                                        <a href="#" onclick="addToCart({{ product.id }})" class="buy-now btn btn-sm height-auto px-3 py-2 btn-primary">Add To Cart</a>
                                        <a href="#" onclick="addToWishList({{ product.id }})" class="buy-now btn btn-sm height-auto px-3 py-2 btn-primary">Add To Wish List</a>
                                    </div>    
                                </div>
                                {% endfor %}
                              {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="site-footer custom-border-top">
                {% include 'footer.html' %}
            </footer>
        </div>
        <script>
            function addToCart(productId) {
              var csrfToken = getCookie('csrftoken');
              fetch('/add-to-cart/' + productId + '/', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken': csrfToken
                },
                credentials: 'same-origin',
                body: JSON.stringify({})
              })
              .then(function(response) {
                return response.json();
              })
              .then(function(data) {
                console.log(data.message);
                updateCounts();
              })
              .catch(function(error) {
                console.error('Error:', error);
              });
            }      
            function addToWishList(productId) {
              var csrfToken = getCookie('csrftoken');
              fetch('/add-to-wish-list/' + productId + '/', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken': csrfToken
                },
                credentials: 'same-origin',
                body: JSON.stringify({})
              })
              .then(function(response) {
                return response.json();
              })
              .then(function(data) {
                console.log(data.message);
                updateCounts();
              })
              .catch(function(error) {
                console.error('Error:', error);
              });
            }
            function updateCounts() {
                var csrfToken = getCookie('csrftoken');
                fetch('/get-wishlist-count/', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                credentials: 'same-origin'
                })
                .then(function(response) {
                return response.json();
                })
                .then(function(data) {
                console.log(data);
                document.getElementById('wishlist-count').textContent = data.count;
                })
                .catch(function(error) {
                console.error('Error:', error);
                });
                fetch('/get-cart-count/', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                credentials: 'same-origin'
                })
                .then(function(response) {
                return response.json();
                })
                .then(function(data) {
                console.log(data);
                // Update cart count
                document.getElementById('cart-count').textContent = data.count;
                var cartCountUpdatedEvent = new Event('cartCountUpdated');
                document.dispatchEvent(cartCountUpdatedEvent);
                })
                .catch(function(error) {
                console.error('Error:', error);
                });
                console.log('Updating counts...');
            }        
            function getCookie(name) {
              var cookieValue = null;
              if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                  var cookie = cookies[i].trim();
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                  }
                }
              }
              return cookieValue;
            }
        </script>
        {% include 'snippets/dependencies_customer_footer.html'%}
    </body>
</html>