{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Shop</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% include 'snippets/dependencies_customer_header.html' %}
    </head>
    <body>
        <div class="site-wrap">
            {% include 'header.html' %}
            <div class="site-section">
                <div class="container">
                    <div class="row mb-5">
                        <div class="col-md-3 order-1 mb-5 mb-md-0">
                            <div class="border p-4 rounded mb-4">
                                <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
                                <form method="GET" action="{% url 'shop_all' %}">
                                    {% for category in categories %}
                                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                        <input type="checkbox" class="custom-control-input category-checkbox" id="color-{{ category.id }}" name="category[]" value="{{ category.id }}" {% if category.id|stringformat:"s" in selected_categories %}checked{% endif %}>
                                        <label class="custom-control-label" for="color-{{ category.id }}">{{ category.name }}</label>                                        
                                    </div>
                                    {% endfor %}
                                    <button type="submit" class="btn btn-primary">Apply</button>
                                </form>
                            </div>

                            {% comment %} <div class="border-bottom mb-4 pb-4">
                                <h5 class="font-weight-semi-bold mb-4">Filter by Categories</h5>
                                <form method="get" action="{% url 'userproduct' %}">
                                    {% csrf_token %}
                                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                        <input type="checkbox" class="custom-control-input category-checkbox" id="color-1" name="category" value="Large Plants and Trees" {% if 'Large Plants and Trees' in selected_categories %}checked{% endif %}>
                                        <label class="custom-control-label" for="color-1">Large Plants & Trees</label>
                                    </div>
                                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                        <input type="checkbox" class="custom-control-input category-checkbox" id="color-2" name="category" value="Flowering Plants" {% if 'Flowering Plants' in selected_categories %}checked{% endif %}>
                                        <label class="custom-control-label" for="color-2">Flowering Plants</label>
                                    </div>
                                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                        <input type="checkbox" class="custom-control-input category-checkbox" id="color-3" name="category" value="Faux and Preserved" {% if 'Faux and Preserved' in selected_categories %}checked{% endif %}>
                                        <label class="custom-control-label" for="color-3">Faux & Preserved Plants</label>
                                    </div>
                                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                        <input type="checkbox" class="custom-control-input category-checkbox" id="color-4" name="category" value="Pet-Friendly Plants" {% if 'Pet-Friendly Plants' in selected_categories %}checked{% endif %}>
                                        <label class="custom-control-label" for="color-4">Pet-Friendly Plants</label>
                                    </div>
                                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                        <input type="checkbox" class="custom-control-input category-checkbox" id="color-5" name="category" value="For-Beginers" {% if 'For-Beginers' in selected_categories %}checked{% endif %}>
                                        <label class="custom-control-label" for="color-5">For Beginners</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Apply</button>
                                </form>
                            </div> {% endcomment %}

                            {% comment %}<div class="border p-4 rounded mb-4">
                                <div class="mb-4">
                                    <h3 class="mb-3 h6 text-uppercase text-black d-block">Filter by Price</h3>
                                    <div id="slider-range" class="border-primary"></div>
                                    <input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white" disabled="" />
                                </div>

                                <div class="mb-4">
                                    <h3 class="mb-3 h6 text-uppercase text-black d-block">Size</h3>
                                    <label for="s_sm" class="d-flex">
                                    <input type="checkbox" id="s_sm" class="mr-2 mt-1"> <span class="text-black">Small (2,319)</span>
                                    </label>
                                    <label for="s_md" class="d-flex">
                                    <input type="checkbox" id="s_md" class="mr-2 mt-1"> <span class="text-black">Medium (1,282)</span>
                                    </label>
                                    <label for="s_lg" class="d-flex">
                                    <input type="checkbox" id="s_lg" class="mr-2 mt-1"> <span class="text-black">Large (1,392)</span>
                                    </label>
                                </div>

                                <div class="mb-4">
                                    <h3 class="mb-3 h6 text-uppercase text-black d-block">Color</h3>
                                    <a href="#" class="d-flex color-item align-items-center" >
                                    <span class="bg-danger color d-inline-block rounded-circle mr-2"></span> <span class="text-black">Red (2,429)</span>
                                    </a>
                                    <a href="#" class="d-flex color-item align-items-center" >
                                    <span class="bg-success color d-inline-block rounded-circle mr-2"></span> <span class="text-black">Green (2,298)</span>
                                    </a>
                                    <a href="#" class="d-flex color-item align-items-center" >
                                    <span class="bg-info color d-inline-block rounded-circle mr-2"></span> <span class="text-black">Blue (1,075)</span>
                                    </a>
                                    <a href="#" class="d-flex color-item align-items-center" >
                                    <span class="bg-primary color d-inline-block rounded-circle mr-2"></span> <span class="text-black">Purple (1,075)</span>
                                    </a>
                                </div>
                            </div> {% endcomment %}
                        </div>
                        <div class="col-md-9 order-2">
                            <div class="row align">
                                <div class="col-md-12 mb-5">
                                    <div class="float-md-left"><h2 class="text-black h5">Shop Amazing Products</h2></div>
                                    {% comment %} <div class="d-flex">
                                        <div class="dropdown mr-1 ml-md-auto">
                                            <button type="button" class="btn btn-white btn-sm dropdown-toggle px-4" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Latest
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                                            <a class="dropdown-item" href="#">Men</a>
                                            <a class="dropdown-item" href="#">Women</a>
                                            <a class="dropdown-item" href="#">Children</a>
                                            </div>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-white btn-sm dropdown-toggle px-4" id="dropdownMenuReference" data-toggle="dropdown">Sort By</button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                                                <a class="dropdown-item" href="#">Relevance</a>
                                                <a class="dropdown-item" href="#">Name, A to Z</a>
                                                <a class="dropdown-item" href="#">Name, Z to A</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Price, low to high</a>
                                                <a class="dropdown-item" href="#">Price, high to low</a>
                                            </div>
                                        </div>
                                    </div> {% endcomment %}
                                </div>
                            </div>
                            <div id="product-list" class="row mb-6">
                                {% for product in products %}
                                <div class="col-lg-4 col-md-4 item-entry mb-4">
                                    <a href="{% url 'product_page' product.id %}" class="product-item md-height bg-gray d-block">
                                    {% if product.images.exists %}
                                        <img src="{{ product.images.first.image.url }}" alt="Product Image">
                                    {% else %}
                                        <span>No image available</span>
                                    {% endif %}
                                    </a>
                                    <h2 class="item-title"><a href="{% url 'product_page' product.id %}">{{product.name}}</a></h2>
                                    <strong class="item-price">&#x20B9; {{product.mrp}}</strong>
                                    <div class="button-container">
                                        <a href="#" onclick="addToCart({{ product.id }})" class="buy-now btn btn-sm height-auto px-3 py-2 btn-primary">Add To Cart</a>
                                        <a href="#" onclick="addToWishList({{ product.id }})" class="buy-now btn btn-sm height-auto px-3 py-2 btn-primary">Add To Wish List</a>
                                    </div>    
                                </div>
                                {% endfor %}
                            </div>
                            {% comment %} <div class="row">
                                <div class="col-md-12 text-center">
                                    <div class="site-block-27">
                                        <ul>
                                            <li><a href="#">&lt;</a></li>
                                            <li class="active"><span>1</span></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">&gt;</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            <footer class="site-footer custom-border-top">
                {% include 'footer.html' %}
            </footer>
        </div>
        <script>
            function addToCart(productId) {
              var csrfToken = getCookie('csrftoken');
              fetch('/add-to-cart/' + productId + '/', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken': csrfToken
                },
                credentials: 'same-origin',
                body: JSON.stringify({})
              })
              .then(function(response) {
                return response.json();
              })
              .then(function(data) {
                console.log(data.message);
              })
              .catch(function(error) {
                console.error('Error:', error);
              });
            }
            function getCookie(name) {
              var cookieValue = null;
              if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                  var cookie = cookies[i].trim();
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                  }
                }
              }
              return cookieValue;
            }
        </script>
        <script>
            function addToWishList(productId) {
              var csrfToken = getCookie('csrftoken');
              fetch('/add-to-wish-list/' + productId + '/', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken': csrfToken
                },
                credentials: 'same-origin',
                body: JSON.stringify({})
              })
              .then(function(response) {
                return response.json();
              })
              .then(function(data) {
                console.log(data.message);
              })
              .catch(function(error) {
                console.error('Error:', error);
              });
            }
            function getCookie(name) {
              var cookieValue = null;
              if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                  var cookie = cookies[i].trim();
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                  }
                }
              }
              return cookieValue;
            }
        </script>
        
        {% include 'snippets/dependencies_customer_footer.html'%}
    </body>
</html>